<div  id="test" class="container">
<!--관리자 권한-->
<div class="row text-center" style="background-color: #ffeb00; padding:25px; margin-bottom: 30px; margin-top: 30px;">
	<%=link_to edit_post_path(@post), class: "btn btn-danger btn-lg" do%>
  		<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;프로젝트 수정하기
  	<%end%>
</div>


<div class="row">
	<div class="jumbotron text-center">
	  <h1><%=@post.title%></h1>
	  <p><%=@post.subtitle%></p>
	</div>
	<hr><br>

	<div class="col-md-8">
		<div class="main">
			<%=image_tag @photos[0].image.url(), class:"img-responsive", style: "width:100%" if @photos.length > 0%>
		</div><!--main end-->
		
		<br>

		<div class="sns row">
			<div class="col-md-2 text-center">
				<span class="text-danger h3 shared-count">300</span><br>
				<span class="count">좋아요 횟수</span>
			</div>
			<div class="fb-like" data-href="<%=@post.link%>"<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>

			<a class="btn btn-primary facebook">페이스북 좋아요</a>
		</div><!--sns end-->
		
		



		<hr>
		<br>

		<div id="comments">
			<div class="show-comments">
				<%@comments.each do |comment|%>
					<%=comment.contents%>
				<%end%>
			</div>
			<%if current_user%>
			<div class="write-comments">
				<%=render 'comments/form'%>
			</div>
			<%end%>
		</div>

		<hr><br>

		<div class="content">
			<h2><u><%=@post.title%></u></h2><br>
			<p>
				<%=@post.description_first%>
			</p>
			
			<br>
			

			
			<%=image_tag @photos[1].image.url(), class:"img-responsive", style: "width:100%" if @photos.length > 0%>
			<sub><%=@post.sub_second%></sub>

			<br><br>

			<p>
				<%=@post.description_second%>
			</p>

			<br><hr>

			<h2><u>후원제품 소개</u></h2><br>
			
			<iframe width="100%" height="465" src="https://www.youtube.com/embed/aqW-H76WuHg" frameborder="0" allowfullscreen></iframe>
			<sub>도미노피자, 후원제품 광고영상</sub>

			<br><br><hr><br>

			<div>
				<%=image_tag @photos[2].image.url(), class:"img-responsive", style: "width:100%" if @photos.length > 0%>
			</div>
			
			<br>
			
			<p>
				<%=@post.description_third%>
			</p>

			<br>

			<div class="well">
				"공지사항 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>	


		</div><!--content end-->
		
		
	</div>

<!--사이드바-->


	<div class="col-md-4 sidebar">
	
		<dl>
			<dt class="project-person">목표 <%=@post.fans%>명 중 13,600명 모임</dt>
			<div class="progress project-bar">
				<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 68%">
			    <span style="width: 68%"></span>
				</div>
			</div>	

			<dd><span class="project-percent">68%</span></dd>


			<dt>남은시간</dt>
			<dd><span>17일</span></dd>
		</dl>
		<a class="btn btn-danger btn-lg" id="project-submit">
			프로젝트 후원하기 <i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>

		<hr>
		<p>공유 및 좋아요 취소 시 후원이 취소되며,<br> 포인트가 반환됩니다.</p>
		<hr>
		
		
		<div class="panel panel-default">
			<div class="panel-heading">프로젝트 후원업체</div>
		  <div class="panel-body">
		    
				<div class="media">
				  <div class="media-left">
				    <a href="#">
				      <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p160x160/10440864_677176332353059_6009600991988048017_n.png?oh=4672ec8d38b33144d1576c7db9d74449&oe=57EB658A" alt="도미노" style="width: 100px; height: auto;">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">도미노피자 코리아</h4>
				    <span>도미노피자는 미국의 피자 배달 전문 브랜드이다. 현재, 전 세계 70개국, 1만개 이상의 점포를 두고 있다.</span>
				  </div>
				</div>

		  </div>

		  <div class="panel-footer">
		  	후원업체 자세히보기
		  </div>
		</div>

		<ul>
			<li>
				<div class="panel panel-default">
					<div class="panel-heading">적립가능한 포인트</div>
					<div class="panel-body">
						<div class="cpv"><i class="glyphicon fa fa-square-o"></i> &nbsp; 영상광고시청 5 point </div>
						<div class="cpl"><i class="glyphicon fa fa-square-o"></i> &nbsp; 페이스북 좋아요 5 point </div>
					</div>
					<div class="panel-footer">좋아요 취소 시 포인트가 반환됩니다.</div>
				</div>
			</li>
		</ul>
	</div><!--sidebar end-->


</div>
</div><!--container-->




<script>

$('.facebook').click(function(){
  $('.facebook').html('페이스북 좋아요 완료').addClass('facebook-shared');
  $('.shared-count').text('20K')
  $('.cpl>i').removeClass('fa-square-o').addClass('fa-check-square-o')
  $('.cpl').addClass('del').css('color','#ff387c')
});

$('#project-submit').click(function(){

if ( $('.facebook').hasClass('facebook-shared') ) {
	$('#project-submit').html('프로젝트 후원완료 <i class="fa fa-check" aria-hidden="true"></i>').addClass('stone');
  $('.project-percent').text('100%');
  $('.project-person').text('목표 20,000명 중 20,000명 모임');
  $('.project-bar').children().css('width','100%');
  $('.project-bar>div').removeClass('progress-bar-danger').addClass('progress-bar-info');
} else {
	alert( "페이스북 좋아요 후에 무료후원이 가능합니다." );
}
  
});


</script>


<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7&appId=1214638098569087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>


$(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        alert('내용 다~읽으셨슴돠~');
    }
})



</script>