<!DOCTYPE html>
<html>
<head>
  <title>Thanksto</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render 'shared/navbar'%>

<div class="container_fliud">
<div id="fb-root"></div>
	<%= yield %>
</div>

<%=render 'shared/footer'%>



</body>
</html>
